<div class="p-10">
  <div class="flex justify-center">
    <h1 class="text-5xl font-bold">SCRABBLE</h1>
  </div>
  <div class="flex justify-center my-10">
    <h2 class="text-2xl font-bold">Choose option</h2>
  </div>
  <div class="flex justify-center my-5">
    <a routerLink="/play">
      <button type="button" class="play-btn px-4 py-3 rounded-md mx-5">Play</button>
    </a>
    <a routerLink="/setup">
      <button type="button" class="setup-btn px-4 py-3 rounded-md mx-5">Setup</button>
    </a>
  </div>
</div>