.play-btn {
  background-color: #D0F8AB;
  color: #3B7C0F;
  font-weight: 500;

  &:hover {
    background-color: #d8fbb6;
  }
}

.setup-btn {
  background-color: #B2DDFF;
  color: #175CD3;
  font-weight: 500;

  &:hover {
    background-color: #bfe3ff;
  }
}