.play-btn {
  background-color: #d0f8ab;
  color: #3b7c0f;
  font-weight: 500;

  &:hover {
    background-color: #d8fbb6;
  }
}

.setup-btn {
  background-color: #b2ddff;
  color: #175cd3;
  font-weight: 500;

  &:hover {
    background-color: #bfe3ff;
  }
}
