<div class="p-10">
  <div class="flex justify-center">
    <h1 class="text-5xl font-bold">SCRABBLE</h1>
  </div>
  <app-back-button />
  <div class="flex justify-center">
    <h1 class="text-3xl font-bold">Add new words to the game</h1>
  </div>
  <div class="flex justify-center my-10">
    @if (isSuccessfulRequest) {
      <div class="success flex justify-center font-medium p-2">Word was added to dictionary</div>
    }
    @if (errorMsg !== "") {
      <div class="error-msg flex justify-center font-medium p-2">{{errorMsg}}</div>
    }
    <input type="text" name="word" class="mr-5 p-2 px-2 py-3 rounded-md" [(ngModel)]="word"/>
    <button class="input-btn px-4 py-3 rounded-md" (click)="addNewWord()">Save</button>
  </div>
</div>