@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f5f5f7;
}

input {
  border: 1px solid #d6d2e1;

  &:hover,
  &:active {
    border: 1px solid #c7c2d3;
  }

  &:focus-visible {
    outline: none;
  }
}

.input-btn {
  background-color: #b2ddff;
  color: #175cd3;
  font-weight: 500;

  &:hover {
    background-color: #bfe3ff;
  }

  &:disabled {
    background-color: #d6d2e1;
    color: gray;
  }
}

.success {
  color: #067647;
}

.error-msg {
  color: #f97066;
}
