<div class="text-center form-group">
  <h1 class="text-3xl font-bold">Try to guess a word</h1>
  <div class="my-10">
    @if (errorMsg !== '') {
      <div class="error-msg font-medium p-2">
        {{ errorMsg }}
      </div>
    }
    <input
      class="form-control"
      type="text"
      name="word"
      class="mr-5 p-2 px-2 py-3 rounded-md"
      [(ngModel)]="word"
      (input)="onInput()"
    />
    <button
      class="input-btn px-4 py-3 rounded-md"
      (click)="calculatePoints()"
      [disabled]='word === "" || errorMsg'
    >
      Guess
    </button>
    @if (points > 0) {
      <div class="my-4 text-lg points">
        Points: <span class="font-medium mx-1">{{ points }}</span>
      </div>
    }
  </div>
</div>
